VITE_SUPABASE_URL=https://vmgzwwkdytatypoucasd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZtZ3p3d2tkeXRhdHlwb3VjYXNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2NzIwODEsImV4cCI6MjEwNTI0ODA4MX0.mumOS4APsxCGGvZ6McxyI0Lg9c7sbkvvItdnsuIr3P4